:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-semi-large: 35px;
    --font-medium: 20px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* size */
    --size-border-radius: 4px;
  
    /* Animation */
    --animation-duration: 300ms;
  }
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    user-select: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* Typography */
  
  h1 {
    font-family: "sae";
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }
  @font-face {
    src: url("BMJUA_ttf.ttf");
    font-family: "jua";
  }
  @font-face {
    src: url("HoonSaemaulundongR.ttf");
    font-family: "sae";
  }
  .header {
    text-align: center;
    cursor: pointer;
  }
  
  hr{
    size: 3px;
  }

  /*  */
  header {
      background-color: rgb(241, 176, 11);
    }
  
  body {
      background-color: #fdc46e;
  }

    
  .header__title{
    position: relative;
    align-items: center;
  }
    
  .header__title i {
    position: absolute;
    padding-left: 10px;
    font-size: var(--font-semi-large);
    color: rgb(112, 82, 26);
    transform: translate(0, -50%);
    top: 50%;
  }

  #header__title {
      margin: 0 auto;
      padding-right: 10px;
      text-align: center;
  }

  #header__subtitle {
    flex-direction: column;
    text-align: center;
    font-size: var(--font-regular);
    padding: 10px 0;
    margin: 0 auto;
  }

  /* sub header */
  .sub__header {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
  }

  .home__search {
   align-items: center;
  }

#searchform{
  border-radius: 4px;
  border: none;
  width: 350px;
  height: 25px;
  font-family: "sae";
  font-size: 20px;
  color: #7c7979;
}
  #searchbox {
    border-radius: 3px;
    border: none;
    font-family: "jua";
    font-size: var(--font-regular);
    width: 40px;
    height: 25px;
  }

#searchbox:hover {
  background-color: #6e4d1a;
  color: white;
}

  .home__login {
    justify-content: center;
  }
  
  #loginBtn,
  #signinBtn {
    font-family: "jua";
    color: #ffffff;
	  width: 130px;
  	height: 30px;
	  border-radius: 5px;
    background: #366ca1;
    font-size: var(--font-regular);
  }

  #loginBtn:hover,
  #signinBtn:hover {
    font-family: "jua";
    color: #ffffff;
	  width: 130px;
  	height: 30px;
	  border-radius: 5px;
    background: #18334e;
  }
.tab_boxes {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}
  .home__box1,
  .home__box2,
  .home__box3 {
    width: 400px;
    height: 600px;
    border: 4px solid var(--color-grey);
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
  }

  .home__box1:hover,
  .home__box2:hover,
  .home__box3:hover {
    width: 400px;
    height: 600px;
    border: 4px solid rgb(9, 36, 61);
    border-radius: 20px;
    text-align: center;
    background-color: rgb(247, 160, 30);
    box-shadow: 5px 5px 5px;
  }
  
  #img1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(247, 183, 111);
    line-height: 250px;
    margin: auto;
  }

  #box1__btn,
  #box2__btn,
  #box3__btn{
    margin-top: 50px;
    font-family: "jua";
    color: white;
    background-color: rgb(56, 99, 165);
    font-size: var(--font-semi-large);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 35px;
  }

  #box1__btn:hover,
  #box2__btn:hover,
  #box3__btn:hover{
    margin-top: 50px;
    font-family: "jua";
    color: white;
    background-color: rgb(90, 145, 226);
    font-size: var(--font-semi-large);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 35px;
  }

  /* footer */
 footer {
   background-color: rgb(177, 142, 78);
   text-align: center;
   width: 100%;
   padding: 30px 0;
 }